
<% provide(:title, "Education") %>
<br>
<div class = "row section" id="education">
	<br><br>
	<div class="row">
		<div class="col-md-12" id="educationContainer">
			<p class="headings" id="myEducation"> Education and Awards </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<br><br>
			<img src="/assets/uscicon.png" />
		</div>
		<div class="col-md-8">
			<br><br><br>
			<p class="schoolText"> University of San Carlos </p>
			<p class="courseText"> Bachelor of Science in Computer Science </p>
			<p class="courseText"> A.Y. 2013-2017 </p>
		</div>
		<div class="row">
			<div class="col-md-5 awardText">
				<ul>
					<li> Outstanding Leader 2015</li>
					<li> Outstanding UNESCO Youth Leader 2016 Nominee </li>
					<li> Outstanding Campus Organization 2015</li>
					<li> Most Outstanding UNESCO Club 2016</li>
					<li> Consistent Dean's Lister </li>
					<li> Consistent DS Lister</li>
					<li> 3rd Place, Math Quiz Bowl, January 2014</li>
					<li> 3rd Place,C Wizard Contest, 2014 </li>
					<li> 2nd Place, Bangga sa Bangiitan, August 2014 </li>
				</ul>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-7 col-md-offset-3" id="expectationsCourse">
				<p><b><i> As a Computer Science student, the course of learnings that I have gathered made me believe that I have my own super powers. Programming takes you from impossible to the next thing there is and I couldn't help but be amazed of how I can be one of the game changers in the society through Information Technology.</i></b></p>
			</div>
		</div>
	</div>

	


	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<br><br>
			<img style="margin-left: 10px;" src="/assets/ccnshs.png" height="190px"/>
		</div>
		<div class="col-md-8">
			<br><br><br>
			<p class="schoolText"> Cebu City National Science High School </p>
			<p class="courseText"> A.Y. 2009-2013 </p>
		</div>
		<div class="row">
			<div class="col-md-4 awardText">
				<ul>					
					<li> 3rd, NCO, CAT </li>
					<li> Academic Scholar </li>
					<li> 7th Honors (Graduation) </li>
					<li> 2nd Place, SGGS Business Plan 2012</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<br><br>
			<img style="margin-left: 10px;" src="/assets/llcces.png" height="190px"/>
		</div>
		<div class="col-md-8">
			<br><br><br><br>
			<p class="schoolText">  Lapu-Lapu City Central Elementary School </p>
			<p class="courseText"> A.Y. 2003-2009 </p>
		</div>
		<div class="row">
			<div class="col-md-4 awardText">
				<ul>					
					<li> 4th Honors </li>
					<li> MTAP Contestant </li>
				</ul>
			</div>
		</div>
	</div>
</div>
