
<% provide(:title, "Help") %>
<br><br><br>
<center>
<p id="help">Help</p>
<p id="helpMessage">
	There is no help section at the moment. Please come back later :)
</p>
</center>
<style>
	#help{
		font-size: 5em;
	}
	#helpMessage{
		font-size: 3em;
	}
</style>