
<% provide(:title, "Hire Me") %>
<br><br>

<div class = "row section" id="personal">
	<br>
	<div class="row">
		<div class="col-md-12">
			<p class="headings" id="myProfile"> My Profile </p>
		</div>
	</div>
	<br><br><br><br>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<img src="/assets/formalFace.png" />
		</div>
		<br><br>
		<div id="profileBackground">
			<div class="col-md-2 personalDetails">
				<p> Name: </p>
				<p> Address: </p>
				<p> Contact Number: </p>
				<p> Birthday: <p>
				<p> Age: </p>
				<p> Father's Name: </p>
				<p> Mother's Name: </p>
			</div>
			<div class="col-md-4 personalDetails personalAnswers">
				<b><p> Christian Dave B. Baclayon</p></b>
				<p> Sewage, Pusok, Lapu-Lapu City, Cebu </p>
				<p> 09255522202 </p>
				<p> March 16, 1997 <p>
				<p> 19 years old </p>
				<p> Restituto A. Baclayon </p>
				<p> Ma. Carmen B. Baclayon </p>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-3 col-md-offset-2 otherDetails">
			<p> Programming Languages: </p>
			<p> Developer Tools: </p> 
			<p> Databases: </p>
			<br>
			<p> On-the-Job Training: </p>
		</div>
		<div class="col-md-6 otherAnswers">
			<p> C, C++, Java, Python, Ruby <i>(soon)</i> </p>
			<p> Netbeans, Eclipse, Enthought Canopy, Git, Sublime, Notepad++ </p> 
			<p> MySQL, Datastore <i>(Google) </i></p>
			<br>
			<p> Lexmark Research and Development Corporation <br>
				<i>Embedded Web Servers Intern</i>
			</p>
		</div>
	</div>
</div>



