<% provide(:title, "Home") %>

<div class="row homeBackground">
	<br><br><br>
	<br><br><br>
	<div class="row">
		<div class="col-md-12 box">
			<p id="hi"> Hi! </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p id="intro"> I'm Dave. Come and get to know me through my profile application!</p>
		</div>
	</div>
	<br><br><br>
	<br><br><br>
</div>


<div class="row homeBackground2">
	<div class="row">
		<br><br><br><br><br><br><br>
		<div class="col-md-5 col-md-offset-1">
			<center>
				<img src="assets/profilepic.jpg" alt="Dave Baclayon" style="width:350px;height:350px;"/>
			</center>
		</div>
		<div class="col-md-6">
			<p id="smile"> Keep Smiling! </p>
		</div>
	</div>
	<br><br><br><br>
	<div class="row">
		<div class="col-md-12">
			<center>		
				<a id="buttonView" href= 'profile'> View Profile</a>
			</center>
		</div>
	</div>
	<br><br><br><br>
</div>