<% provide(:title, "Profile") %>

<br><br><br><br>


<div class = "row section" id="affiliation">
	<br><br><br>
	<div class="row">
		<div class="col-md-12" id="affiliationContainer">
			<p class="headings" id="myAffiliations"> Affiliations </p>
		</div>
	</div>
	<br><br><br><br><br>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<img src="/assets/pathways.jpg" height="200px" width="400px"/>
		</div>
		<div class="col-md-6 col-md-offset-1 whiteContainer">
			<p class="schoolText" id="pathwaysText"> USC Pathways </p>
			<p class="courseText pathwaysClass"> Student Adviser, A.Y. 2016-2017 </p>
			<p class="courseText pathwaysClass"> President, A.Y. 2015-2016 </p>
			<p class="courseText pathwaysClass"> Volunteeer, A.Y. 2014-2015 </p>

		</div>
	</div>
	<br><br><br><br>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<img src="/assets/datalogics.jpg" height="250px" width="400px"/>
		</div>
		<div class="col-md-6 col-md-offset-1 whiteContainer" id="datalogicsContainer">
			<p class="schoolText" id="pathwaysText"> Datalogics Society </p>
			<br>
			<p class="courseText pathwaysClass"> Block Representative, A.Y. 2016-2017 </p>
			<p class="courseText pathwaysClass"> USC All Access Volunteer, A.Y. 2015-2016 </p>
			<p class="courseText pathwaysClass"> Secretary, A.Y. 2014-2015 </p>
			<p class="courseText pathwaysClass"> Block Representative, A.Y. 2013-2014 </p>

		</div>
	</div>
</div>



<div class = "row section" id="awards">
	<br><br><br>
	<div class="row">
		<div class="col-md-12" id="awardContainer">
			<p class="headings" id="myAwards"> Awards </p>
		</div>
	</div>
	<br><br><br><br><br>
	<div class="row">
		<div class="col-md-12">
			<center>
				<img src="/assets/settings.png" height="250px" width="250px"/>
				<br><br><br>
				<p id="awardMessage"> Well, this is embarassing.</p>
				<p id="awardMessage2"> <i>We are undergoing construction for this site. Please be patient and do visit this page again! </i></p>
			</center>
		</div>
	</div>
</div>

<style>
	#awardMessage{
		font-size: 5em;
		text-align: center;
		font-family: 'Dekko', cursive;
		color:white;
	}

	#awardMessage2{
		margin-left: 100px;
		margin-right: 100px;
		font-size: 2em;
		text-align: center;
		font-family: 'Dekko', cursive;
		color:#1dd120;
		height: 40px;
		width: 80%;
		background-color: rgba(0,0,0,0.5);
	}
</style>