
<% provide(:title, "Projects") %>
<br><br>


<div class="row projectBackground">
	<br>
	<div class="row">
			<div class="col-md-12" id="educationContainer">
				<p class="headings" id="myEducation"> My Projects </p>
			</div>
	</div>



	<div class="row">
		<br><br>
		<div class="row">
			<center>
				<div >
					<img class="projectPicture" src="assets/bls.PNG"/>
				</div>
			</center>
		</div>
		<div class="row projectTitle">
			<label> Baclayon Lending Services </label>
		</div>
		<div class="col-md-8 col-md-offset-2">	
			<p class="projectDescription">			
			Baclayon Lending Services is a Java Application created to automate the business lending operations of 	Mrs. Baclayon, the entrepreneur who owns the enterprise. I am the <b>Project Leader</b> of this desktop application.
			</p>
		</div>
	</div>
	<br><br>


	<div class="row">
		<br><br>
		<div class="row">
			<center>
				<div >
					<img class="projectPicture" src="assets/jrta.PNG"/>
				</div>
			</center>
		</div>
		<div class="row projectTitle">
			<label> Job Request Tracking Application </label>
		</div>
		<div class="col-md-8 col-md-offset-2">	
			<p class="projectDescription">			
			The Job Request Tracking Application is a project given to us by the Rococo Global Technologies Corporation in completion of our CS192 Cloud Development course. It is a web application that houses contract and job management provided by the companies. This project is written with the AngularJS framework and has Java as its back-end with the Slim3 framework to handle the Datastore as its database management tool. I am the <b> Back-end Developer </b> of this web application.
			</p>
		</div>
	</div>
	<br><br>


	<div class="row">
		<br><br>
		<div class="row">
			<center>
				<div >
					<img class="projectPicture" src="assets/btggss.PNG"/>
				</div>
			</center>
		</div>
		<div class="row projectTitle">
			<label> BTG Grade Submission System </label>
		</div>
		<div class="col-md-8 col-md-offset-2">	
			<p class="projectDescription">			
			BTG Grade Submission System is an online web application that is used by the USC Pathways organization to allow their volunteer teachers to submit the grades of their students online during their annual Bridging the Gap Program. Same as the Job Request Tracking Application, this project is written with the AngularJS framework and has Java as its back-end with the Slim3 framework to handle the Datastore as its database management tool. I am the <b> Project Leader </b> of this online web application.
			</p>
		</div>
	</div>
	<br><br><br><br>
	<div class="row">
		<div class="row">
			<center>
				<div>
					<img class="projectPicture" src="assets/firmwaredebugreader.png"/>
				</div>
			</center>
		</div>
		<div class="row projectTitle">
			<label> Firmware Debugging Tool </label>
		</div>
		<div class="col-md-8 col-md-offset-2">	
			<p class="projectDescription">			
			The Firmware Debugging Tool is my highlight project as an intern in Lexmark Research and Development Corporation. It is a developer tool that displays the error log file in the web application. This was developed under the Linux environment which made use of the Apache server and the Bash Script Language as its back-end. I am the <b>Developer</b> and <b>Designer</b> of this web application.
			</p>
		</div>
	</div>
	
	<br><br><br><br>

	<div class="row">
		<div class="row">
			<center>
				<div>
					<img class="projectPicture" src="assets/getstring.png"/>
				</div>
			</center>
		</div>
		<div class="row projectTitle">
			<label> Get String!</label>
		</div>
		<div class="col-md-8 col-md-offset-2">	
			<p class="projectDescription">			
			Get String is a web application that I developed when I was an intern in Lexmark Research and Development Corporation. It accepts a keyword and returns the value of the keyword based on the XML file. It is a developer tool written in bash shell script. I am the <b> Developer </b> of this web application.
			</p>
		</div>
	</div>
	<br><br>
</div>
