
<% provide(:title, "Who Am I") %>
<br>

<div class="whoamiBox">
	<div class="row">
		<div class="col-md-12 box">
			<p id="whoami"> Who am I </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 whoamiFont">
			<p> Hi! I am <b> Christian Dave B. Baclayon </b> , a graduating Computer Science student of the University of San Carlos. I am <b> 19 years </b> of age who resides at the corners of <b> Mactan Air Base Lapu-Lapu City </b>. I am with 5 siblings, 3 brothers and 2 sisters. My father is a retired military officer while my mother takes care of us and our business. That's about it for my family.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 whoamiFont">
			<p> I am an <b> active student leader </b>. I am a member of several organizations and have held positions in a few. I was once the Secretary of <b> Datalogics Society </b>, the co-curricular organization for CS and IT students of the University of San Carlos. I was also the President of <b> USC Pathways </b>, an extra-curricular organization of which our advocacy is promoting quality higher education. We've won awards in Pathways such as <b> Outstanding Campus Student Organization </b> and <b> The Most Outstanding UNESCO Club in the Philippines </b>just last year during my term. I love serving the people. It makes me feel like I have done something great to the world in my small little ways. Through my affiliations, I was able to introspect the needs of my community and respond to these challenges together with my org-mates who are more than willing to volunteer and serve.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 whoamiFont">
			<p> Although my student leader life has compromised my time and academics, I still put a high importance in my own education. I believe that <i> to truly serve the people is to be a good example or model to them </i>. How can I advocate for education if I myself don't have good standing? Nevertheless, I am a <b> consistent Dean's Lister </b> in school. I have won several academic contests within my college life like the <b> University Math Quiz Bowl </b> and <b>Tagisan ng Talino </b>. I was also one of the <b> Outstanding Student Leaders </b> during my 2nd year.This manifests my competitive personality of which I bring up my own standards for myself.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 whoamiFont">
			<p> As the day of my graduation comes nearer, the closer I see myself in realizing my dreams, the more my excitement shoots up as well. I can't wait to get a job! A few months from now, I can see myself working in a software in a team with equally competitive members. I can see myself learning a lot of technologies, quality management in action, and to practice and hone the skills that I have discovered and learned from school. A year from now I might be taking up a masteral degree of a field that I am interested too. Business Management, maybe. At the end of the tunnel, I see myself as a successful entrepreneur holding charity and scholarships as my branch of service to help raise the standards of education and living of my own community.</p>
		</div>
	</div>
</div>
