.contact{
	height: 300px;
	background-color: white;

	text-align: center;
}

img:hover {
    height:200px;
    width: 200px;
    margin-top: -10px;
}

#gmail{
	display: none;
	font-size: 1.5em;
	text-align: center;
}

#ymail{
	display: none;
	font-size: 1.5em;
	text-align: center;
}

h1{
	display:none;
}
