.contact{
	height: 300px;
	text-align: center;
}

.bigIcon:hover {
    height:200px;
    width: 200px;
    margin-top: -10px;
}

#gmail{
	display: none;
	font-size: 1.5em;
	text-align: center;
}

#ymail{
	display: none;
	font-size: 1.5em;
	text-align: center;
}

#viewProfile{
	display:none;
	font-family: 'Dekko', cursive;
}

#contactBackground{
	background-image: url(/assets/contactbackground.png);
	margin-bottom: 0px;
	height:600px;
}
