@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.section{
	height:850px;
	width: 1300px;
	margin-right: -10px;
}

#affiliation{
	background-image: url(/assets/volunteer.png);
	background-repeat: no-repeat;
	background-size: 1500px 1000px;
	height: 1000px;
}

#awards{
	background-image: url(/assets/awards.jpg);
	background-repeat: no-repeat;
	background-size: 1500px 850px;
}

#personal{
	background-image: url(/assets/personalBackground.jpg);
}



.headings{
	text-align: center;
	font-size: 7em;
	font-family: 'Lobster', cursive;
	margin-bottom: -30px;
	color: #6cc1a5;
	
}


#myAwards{
	color: #4e4f48;
}

#myProfile{
	color:white;	
}

#myAffiliations{
	color: #0c7f0a;
}



@import url('https://fonts.googleapis.com/css?family=Nunito:200');
.personalDetails{
	color:white;
	font-size: 1.5em;
	margin-left: 40px;
	
}

.personalAnswers{
	font-family: 'Nunito', sans-serif;
	margin-left: -20px;
	color: white;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.otherDetails{
	color:white;
	font-size: 1.5em;
}

.otherAnswers{
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 1.5em;
}

#pathwaysText{
	margin-left: 10px;
	font-size: 4em;
}
.pathwaysClass{
	margin-left: 10px;
	font-size: 1.5em;

}
.whiteContainer{
	height: 200px;
	width: 470px;
	background-color: rgba(255,255,255,0.6);
}

#datalogicsContainer{
	height: 250px;
}
#affiliationContainer{
	width:100%;
	height: 150px;
	background-color: rgba(255,255,255,0.6);
}


#awardContainer{
	width:100%;
	height: 150px;
	background-color: rgba(125,132,142,0.2);
}