.projectBackground{
	background-color: #60a7d1;
}

.projectPicture{
	height: 400px;
	width: 800px;
	background-color: white;
}

.projectTitle{
	text-align: center;
	margin-top: 10px;
	font-size: 3em;
	color:#2b2475;
	font-family: 'Dekko', cursive;
}

.projectDescription{
	margin-left: 18px;
	font-family: 'Muli';
	font-size: 20px;
	font-color: black;
	text-align: justify;
}
