
<footer class="footer">
	<small>
		The Profile Application by <a href="http://www.facebook.com/dave.baclayon">Dave Baclayon</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Help", help_path %></li>
		</ul>
	</nav>
</footer>